.menu-modal {
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 0px 8px -2px var(--default-shadow-color);
    visibility: hidden;
}

.menu-modal.active{
    visibility: visible;
}