.auth-text{
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
}

.auth-text h2 span {
    position: relative;
    color: rgba(255,255,255,0);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i))
}

@keyframes displayText {
    0% {
        display: inline-block;
    }
    33.33%,100%{
        display: none;
}
}

.auth-text h2 span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fdb44b;
    overflow: hidden;
    border-right: .07em solid #fdb44b;
    white-space: nowrap;
    margin: 0 auto;
    /*letter-spacing: .15em;*/
    animation:
            typing 1s steps(40, end),
            blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fdb44b; }
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vh 5vw;
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
}
